.description {
  display: flex;
  background-color: $content-bg-color;

  &__container {
    width: 1560px;
    margin: 0 auto;
 }

  &__description-mobile {
    display: none;
  }
}

@media screen and (max-width: 1200px) { 
  .description {
    &__description-desktop {
      display: none;
    }
    &__description-mobile {
      display: block;
    }
  }
}