.desktop-search {
  display: flex;

  width: 56.6%;
  height: 35px;
  margin-left: 6.8%;

  border-radius: 6px;
  overflow: hidden;

  label {
    display: none;
  }
  select {
    color: #777777;
    
    background-color: #f1f1f1;

    flex-grow: 0.1;

    border: none;
  }
  
  &__text-input {
    flex-grow: 15;

    border: none;
    // min-width: 750px;
  }
  &__submit-input {
    background-color: $orange;

    flex-grow: 1;

    // width: 49px;
    border: none;
  }
}

@media screen and (max-width: 1200px) {
  .desktop-search {
    display: none;
  }
}