.equipment {

  // box-shadow: 2px 2px 2px 2px black;
  box-shadow: 0 2px 5px #9e9e9e;
  position:relative;

  &__container {
    display: flex;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 1560px;
    margin-left: auto;
    margin-right: auto;
  }

  label {
    font-size: 3rem;
    display: none;
    height: 85px;
  }

  input {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 101px;
  }

  li a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) { 
  .equipment {

    label {
      display: flex;
      justify-content: space-between;

      background-color: #f1f1f1;
    }

    ul {
      font-size: 2rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      height: 0;
      min-height: auto;

      overflow: hidden;

      z-index: -1;

      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      transition: all 0.7s linear;
    }

    img {
      display: none;
    }

    input:checked + ul {
      font-size: 2rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      
      height: 350px;
      border-bottom: 1px solid #ececec;

      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      transition: all 0.7s linear;
    }

    input:checked + &__span-arrow-right {
      display: none;
    }

    &__span-text {
      margin-top: 27px;
      margin-left: 38px;
    }
  
    &__arrow-right {
      margin-top: 27px;
      margin-right: 38px;
    }

    &__arrow-down {
      margin-top: 27px;
      margin-right: 38px;
    }

  }
}