.header {
  display: flex;
  flex-direction: column;

  
  &__desktop-menu-container {
    display: flex;

    height: 100%;
    width: 100%;

    background-color: $desktop-menu-bg-color;

    margin-left: auto;
    margin-right: auto;

    a {
      color: #ffffff;
    }
  }


  &__general-menu-container {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;

    margin-left: auto;
    margin-right: auto;

    background-color: $general-menu-bg-color;
  }


  &__icons-bottom-border {
    display: none;
  }


  &__mobile-search {
    display: none;
  }


  &__menu-checkbox {
    display: none;
  }

  &__mobile-menu {
    display: none;
  }
}


@media screen and (max-width: 1200px) {
  .header {
    padding: 0;

    background: #ffffff;

    a {
      color: black;
    }


    &__desktop-menu-container {
      display: none;
    }


    &__general-menu-container {
      display: flex;
      align-items: center;
      align-self: stretch;

      border-bottom: 1px solid #e5e5e5;

      background-color: $general-menu-bg-color;
    }


    &__icons-bottom-border {
      display: block;
      height: 1px;
      background-color: #ececec;
    }


    &__menu-checkbox:checked + &__mobile-menu li {
      visibility: visible;
    }

    &__menu-checkbox + &__mobile-menu {

      overflow: hidden;

      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      transition: all 0.7s linear;
    }

    &__menu-checkbox:checked + &__mobile-menu {
      font-size: 2rem;

      display: flex;
      justify-content: space-around;

      // opacity: 1;
      height: 350px;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ececec;

      // overflow: hidden;
      
      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      transition: all 0.7s linear;
    }

  }
}
