.manufacturers-news {
  background-color: $content-bg-color;
  display: flex;
  padding-top: 160px;

  h2 {
    font-size: 4rem;
    margin: 0 auto 0 auto;
  }

  &__container {
    display: flex;
    flex-direction: column;

    width: $container-width;
    margin: 0 auto 0 auto;
  }

  .container {
    &__header-row {

      h2 {
        margin-left: 4.7%;
      }
    }

    &__content-row { 
      display: flex;
    }
  }

  &__main-news {
    margin-left: 4.9%;
    margin-top: 3.4%;
    display: flex;
    flex-direction: column;

    min-height: 775px;
    width: 31%;

    h3 {
      font-size: 2.4rem;
      margin-top: 4%;
    }

    p:first-of-type{
      margin-top: 5%
    }

    p {
      font-size: 1.6rem;
    }

    button {
      font-size: 1.6rem;

      align-self: start;

      padding: 6px 35px;
      margin-top: 14%;
      border: 2px solid #282828;
      border-radius: 15px;
    }
  }

  .author-date-row {
    display: flex;
    justify-content: space-between;
    margin-top: 5.5%;

    &__author {
      font-size: 1.6rem;
      color: #00aa4b;
    }
    &__date {
      font-size: 1.6rem;
      color: #777777;
      margin-right: 9%;
    }
  }

  &__other-news {
    max-width: 810px;
    width: 60%;
    margin-left: 4.7%;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }

    li {
      display: flex;
      max-height: 200px;
    }

    h3 {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 1200px) { 
  .manufacturers-news {
    display: none;
  }
}