.products {
  background-color: $content-bg-color;
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;

    width: $container-width;
    margin-left: auto;
    margin-right: auto;
  }

  &__row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 21px;
  }

  &__targeted-offers {
    background-color: #ffffff;
  
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    min-height: 475px;
    width: 20%;
  }


  &__portfolio {
  
    background-color: #232323;
  
    display: flex;
    flex-direction: column;
  
    githeight: 475px;
    width: 57%;
    padding: 20px;
  }

  &__sale {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #ffffff;
    max-height: 475px;
    width: 20%;
    border: 2px solid #ffaf2d;

    img {
      margin-left: 10%;
      margin-bottom: 15px;
    }

    p {
      font-size: 1.8rem;
      margin-left: 10%;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 3.3rem;
      margin-left: 10%;
      margin-bottom: 15px;
    }

    a {
      font-size: 1.8rem;
      color: #ffaf2d;
      margin-left: 10%;
      margin-bottom: 30px;
    }
  }

  &__brands {
    ul {
      background-color: #ffffff;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 98%;
      margin-top: 25px;
      margin-right: auto;
      margin-left: auto;
      height: 105px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .products {
    &__row {
      flex-direction: column;

    }

    &__targeted-offers {
      display: none;
    }

    &__portfolio {
      width: 100%;
      align-items: center;
    }

    &__sale {
      min-height: 480px;
      width: 95%;
      margin: 2.5%;
    }

    &__brands {
      ul {
        flex-wrap: wrap;
        height: auto;

      li {
        min-width: 355px;
        min-height: 155px;
        padding: 50px;
        border: 1px solid #f3f2f2;
      }        

      li img {
        width: 250px;
      }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .products {
    &__brands {
      ul {
        flex-wrap: wrap;
        height: auto;
        align-items: center;

        li {
          // max-width: 150px;
          // min-height: 155px;
          min-width: auto;
          width: 100%;
          padding: 5px;
          border: 1px solid #f3f2f2;
          display: flex;
      
        }
        
        li a {
          margin-left: auto;
          margin-right: auto;
        }

        li img {
          max-width: 150px;
          width: auto;
        }
      }
    }
  }

  .portfolio {
    width: 100%;
    padding: 0 0 15px 0;
    align-items: center;
    justify-content: space-around;
  }
}