.products {
  background-color: #e8e7e7;
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;

    width: 1560px;
    margin-left: auto;
    margin-right: auto;
  }

  &__row {
    display: flex;
    margin-top: 21px;
  }

  &__targeted-offers {
    background-color: #ffffff;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 475px;

    h2 {
      font-size: 2.4rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .portfolio {
  }

  &__sale {
    background-color: #ffffff;
    flex-grow: 1;
    min-height: 475px;
  }
}