.recommend {
  display: flex;
  background-color: $content-bg-color;

  &__container {
    width: 1560px;
    margin: 0 auto;
 }

 &__header-row {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 4%;

   h2 {
     font-size: 4rem;
   }

   :nth-child(2) {
     margin-top: 1.4%;
   }

   p{
     font-size: 1.6rem;
   }
 }
 
 &__content-row {
   display: flex;
   justify-content: space-evenly;    
   margin-top: 4.6%;
   padding-left: 3%;
   padding-right: 3%;
 }

 &__column-1 {
   width: 38%;
   min-height: 745px;
   display: flex;
 }

 &__combi-steamers {
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   align-items: center;
   align-self: stretch;

   span {
     font-size: 2rem;
     margin-top: 12%;
     text-transform: uppercase;
   }

   h3 {
     font-size: 3rem;
   }

   p {
     font-size: 1.6rem;
     text-align: center;
     max-width: 46%;
     margin-top: 5%;
   }

   img {
     margin-top: auto;
   }
 }

  &__combi-steamers-text-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__combi-steamers-text-mobile {
    display: none;
  }

  &__combi-steamers-img-mobile {
    display: none;
  }

 &__column-2 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 55%;
 }

 &__heating-equipment {
   color: #ffffff;
   background-color: #232323;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   min-height: 420px;

   .recommend__abat-text {
     align-self: stretch;
    //  display: flex;
   }

   span {
     font-size: 2rem;   
     text-transform: uppercase;
     margin-top: 19%;
     margin-left: 12%;
   }

   h3 {
    font-size: 3rem;
    margin-top: 2%;
    margin-left: 12%;
    max-width: 40%;
   }

   p {
    font-size: 1.6rem;
    color: #777777;
    max-width: 80%;
    margin-top: 5%;
    margin-left: 12%;
   }
 }

 &__refrigerated-tables {
   display: flex;
   background-color: #ffffff;

   span {
     font-size: 2rem;
     text-transform: uppercase;
     margin-top: 15%;
     margin-left: 16%;
   }

   h3 {
     font-size: 3rem;  
     margin-top: 1%;  
     margin-left: 16%;
   }

   p {
     font-size: 1.6rem;
     margin-top: 5%;
     margin-left: 16%;
   }

   a {
    font-size: 1.6rem;
    margin-top: 6%;
    margin-left: 16%;
   }
 }



 &__abat-text {
   display: flex;
   flex-direction: column;
 }

 &__hicold-text {
   display: flex;
   flex-direction: column;
 }


}

@media screen and (max-width: 1200px) { 
  .recommend {

    &__content-row {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &__column-1 {
      width: 100%;
      min-height: 480px;

      .recommend__combi-steamers-img-desktop {
        display: none;
      }
    }

      &__combi-steamers {
        flex-direction: row;
      }

        &__combi-steamers-img-mobile {
          display: block;
        }

        &__combi-steamers-text-desktop {
          display: none;
        }

        &__combi-steamers-text-mobile {
          align-self: stretch;
          display: flex;
          flex-direction: column;
          margin-left: 12%;

          span {
            font-size: 3rem;
            margin-top: 160px;
          }

          h3 {
            font-size: 4rem;
            margin-top: 20px;
          }

          p {
            font-size: 2.5rem;
            text-align: left;
          }
        }

    &__column-2 {
      width: 100%;
    }

  }
}

@media screen and (max-width: 740px) { 

  .recommend {
    &__combi-steamers {
      flex-direction: column;
    }

    &__column-1 {

      .recommend__combi-steamers-img-desktop {
        display: block;
      }

      .recommend__combi-steamers-img-mobile {
        display: none;
      }
    }
  }

}

@media screen and (max-width: 440px) { 
  .recommend {

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 2rem;
    }

    img {
      max-width: 200px;
    }

    &__content-row {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &__column-1 {
      width: 100%;
      margin-bottom: 25px;

      span {
        margin-top: 25px;
      }

      // .recommend__combi-steamers-img-desktop {
      //   display: block;
      // }

      // .recommend__combi-steamers-img-mobile {
      //   display: none;
      // }
    }

    &__column-2 {
      width: 100%;
    }

    &__heating-equipment {
      flex-direction: column;
      margin-bottom: 25px;

      img {
        align-self: flex-start;
      }
    }

    &__refrigerated-tables {
      flex-direction: column;

      img {
        align-self: flex-end;
      }
    }

  }
}