<div class="basement">
  <div class="basement__container-1">

    <div class="basement__column-1">
      <h2>Информация</h2>
      <ul>
        <li>Компания</li>
        <li>Портфолио</li>
        <li>Проектирование</li>
        <li>Ресторанам</li>
        <li>Застройщикам</li>
        <li>Гос.заказчикам</li>
        <li>Таблет-питание</li>
        <li>Сервис</li>
        <li>Новости</li>
        <li>Контакты</li>
      </ul>
    </div>

    <div class="basement__column-2">
      <h2>Оборудование</h2>
      <ul>
        <li>Тепловое</li>
        <li>Холодильное</li>
        <li>Электромеханическое</li>
        <li>Посудомоечное</li>
        <li>Барное</li>
        <li>Хлебопекарное</li>
        <li>Линии раздачи</li>
        <li>Нейтральное</li>
        <li>Для фаст фуда</li>
        <li>Для залов</li>
        <li>Весовое</li>
      </ul>
    </div>

    <div class="basement__column-3">
      <h2>Предложения</h2>
      <ul>
        <li>Кафе, барам, ресторанам</li>
        <li>Дестким садам и школам</li>
        <li>Таблет-питание</li>
        <li>Для кондитерских</li>
        <li>Для пиццерий</li>
        <li>Для магазинов</li>
        <li>Для воинских частей</li>
        <li>Все предложения</li>
      </ul>
    </div>

    <div class="basement__column-4">
      <h2>Контакты</h2>
      <ul>
        <li>8 495 150-31-71</li>
        <li>8 800 500 43 44</li>
        <li>звонок беспланый</li>
        <li>Пн-Пт</li>
        <li>09:00 до 18:00</li>
        <li>com@stolovay.ru</li>
        <li>info@stolovay.ru</li>
        <li>111524, Москва,</li>
        <li>Рязанский проспект 24к2</li>
      </ul>
    </div>

  </div>
  <div class="basement__container-2">
    <div class="basement__logo logo">
      <img src="" alt="">
      <div class="logo__text">
        <h1>Столовая.РУ</h1>
        <p>Создание оптимальных пищеблоков</p>
      </div>
    </div>
    <div class="basement__site-developer">
      <p>Сайт разработан NTI-systems</p>
    </div>
  </div>
</div>