<div class="basement">

  <div class="basement__wrapper-1">
    <div class="basement__container-1">

      <div class="basement__column-1">
        <h2 class="basement__list-heading-desktop">Информация</h2>
        <label for="basement__information" class="basement__list-heading basement__list-heading-mobile menu-label">
          <h2>Информация</h2>
          <span class="menu-label__arrow-right">+</span>
          <span class="menu-label__arrow-down hidden-completely">-</span>
        </label>
        <input type="checkbox" id="basement__information" name="basement__information">
        <ul>
          <li><a href="#">Компания</a></li>
          <li><a href="#">Портфолио</a></li>
          <li><a href="#">Проектирование</a></li>
          <li><a href="#">Ресторанам</a></li>
          <li><a href="#">Застройщикам</a></li>
          <li><a href="#">Гос.заказчикам</a></li>
          <li><a href="#">Таблет-питание</a></li>
          <li><a href="#">Сервис</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
  
      <div class="basement__column-2">
        <h2 class="basement__list-heading-desktop">Оборудование</h2>
        <label for="basement__equipment" class="basement__list-heading basement__list-heading-mobile menu-label">
          <h2>Оборудование</h2>
          <span class="menu-label__arrow-right">+</span>
          <span class="menu-label__arrow-down hidden-completely">_</span>
        </label>
        <input type="checkbox" id="basement__equipment">
        <ul>
          <li><a href="#">Тепловое</a></li>
          <li><a href="#">Холодильное</a></li>
          <li><a href="#">Электромеханическое</a></li>
          <li><a href="#">Посудомоечное</a></li>
          <li><a href="#">Барное</a></li>
          <li><a href="#">Хлебопекарное</a></li>
          <li><a href="#">Линии раздачи</a></li>
          <li><a href="#">Нейтральное</a></li>
          <li><a href="#">Для фаст фуда</a></li>
          <li><a href="#">Для залов</a></li>
          <li><a href="#">Весовое</a></li>
        </ul>
      </div>
  
      <div class="basement__column-3">
        <h2 class="basement__list-heading-desktop">Предложения</h2>
        <label for="basement__offers" class="basement__list-heading basement__list-heading-mobile menu-label">
          <h2>Предложения</h2>
          <span class="menu-label__arrow-right">+</span>
          <span class="menu-label__arrow-down hidden-completely">-</span>
        </label>
        <input type="checkbox" id="basement__offers">
        <ul>
          <li><a href="#">Кафе, барам, ресторанам</a></li>
          <li><a href="#">Дестким садам и школам</a></li>
          <li><a href="#">Таблет-питание</a></li>
          <li><a href="#">Для кондитерских</a></li>
          <li><a href="#">Для пиццерий</a></li>
          <li><a href="#">Для магазинов</a></li>
          <li><a href="#">Для воинских частей</a></li>
          <li><a href="#">Все предложения</a></li>
        </ul>
      </div>
  
      <div class="basement__column-4">
        <h2 class="basement__list-heading-desktop">Контакты</h2>
        <label for="basement__contacts" class="basement__list-heading basement__list-heading-mobile menu-label">
          <h2>Контакты</h2>
          <span class="menu-label__arrow-right">+</span>
          <span class="menu-label__arrow-down hidden-completely">-</span>
        </label>
        <input type="checkbox" id="basement__contacts">
        <ul>
          <li><a href="#">8 495 150-31-71</a></li>
          <li><a href="#">8 800 500 43 44</a></li>
          <li><a href="#">звонок беспланый</a></li>
          <li><a href="#">Пн-Пт</a></li>
          <li><a href="#">09:00 до 18:00</a></li>
          <li><a href="mailto:com@stolovay.ru">com@stolovay.ru</a></li>
          <li><a href="mailto:info@stolovay.ru">info@stolovay.ru</a></li>
          <li><a href="#">111524, Москва,</a></li>
          <li><a href="#">Рязанский проспект 24к2</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="basement__wrapper-2">
    <div class="basement__container-2">

      <div class="basement__logo logo">
        <img src="./assets/images/basement-logo.png" alt="">
        <div class="logo__text">
          <h1>Столовая.РУ</h1>
          <p>Создание оптимальных пищеблоков</p>
        </div>
      </div>
      <div class="basement__site-developer">
        <p>Сайт разработан NTI-systems</p>
      </div>

    </div>
  </div>
  

</div>