<div class="description__description-desktop description-desktop">
  <div class="description-desktop__section-1">
    <div class="description-desktop__column-1">
      <h2>Комплексные решения оснащения столовых 
        и кафе</h2>
      <p>
        Компания предлагает комплексное оснащение столовых, ресторанов, кафе и баров в Москве. Наши услуги построены по принципу полного цикла обслуживания предприятий общепита и бизнеса HoReCa.
      </p>
      <p>
        Иными словами, мы предлагаем проектирование «под ключ» и постгарантийное обслуживание. География работы компании охватывает всю страну. При этом в каждом регионе мы готовы предложить демократичные цены на профессиональное технологическое оборудование для столовой и оптимальные решения с точки зрения эффективности бизнеса, приемлемым уровнем производительности в условиях ограниченного бюджета
      </p>
      <h2>Что мы предлагаем</h2>
      <p>разработку технологического проекта кухни и производственной линии, дизайна ресторанного интерьера;</p>
      <p>составление меню согласно концепции и оснащения бара (кафе, столовой);</p>
      <p>подбор посуды, текстиля под общий стиль; профессиональное оборудование для кафе, бара и ресторана, большой выбор современных моделей; доставку в любой регион РФ;</p>
      <p>монтажные и пуско-наладочные работы; автоматизацию производственного процесса, что позволяет определённое оборудование для бара;</p>
      <p>экспертную поддержку бизнеса;</p>
    </div>
    <div class="description-desktop__column-2">
      <img src="../assets/images/knife-fork-big.png" alt="">
      <span>Столовая.РУ</span>
      <p>создание оптимальных пищеблоков</p>
  
      <span>Группа компаний</span>
      <h3>Показатели:</h3>
      <ul>
        <li>На рынке: 5 лет</li>
        <li>Объем контрактов: 4 млрд.р.</li>
        <li>Количество контрактов: 620</li>
      </ul>
    </div>
  </div>
  
  
  <label for="description-menu">
    <img src="../assets/images/description-menu-switcher.png" alt="description-switcher">
  </label>
  <input type="checkbox" id="description-menu" />
  <ul>
    <li>Пункт-1</li>
    <li>Пункт-2</li>
    <li>Пункт-3</li>
  </ul>
</div>