<div class="description__description-mobile description-mobile">
  <div class="description-mobile__section-1">
    <img src="../assets/images/knife-fork-big.png" alt="">
    <span>Столовая.РУ</span>
    <p>создание оптимальных пищеблоков</p>

    <span>Группа компаний</span>
    <h3>Показатели:</h3>
    <ul class="description-mobile__indicators-list">
      <li>Показатели:</li>
      <li>Объем контрактов: 4 млрд.р.</li>
      <li>Количество контрактов: 620</li>
    </ul>
  </div>
  <div class="description-mobile__section-2">
    <h3>Комплексные решения оснащения столовых и кафе</h3>
    <p>Компания «Диалог» предлагает комплексное оснащение столовых, ресторанов, кафе и баров в Москве. Наши услуги построены по принципу полного цикла обслуживания предприятий общепита и бизнеса HoReCa.
      Иными словами, мы предлагаем проектирование «под ключ» и постгарантийное обслуживание. География работы компании охватывает всю страну. При этом в каждом регионе мы готовы География работы компании охватывает всю страну. При этом в каждом регионе мы готовы предложить демократичные цены на профессиональное технологическое оборудование для столовой и оптимальные решения с точки зрения эффективности бизнеса, приемлемым уровнем производительности в условиях ограниченного бюджета.</p>
  </div>
  <label for="description-menu-mobile" class="description__menu-mobile">
    <img src="../assets/images/description-menu-switcher.png" alt="description-switcher" class="description__description-switcher">
  </label>
  <input type="checkbox" id="description-menu-mobile" />
  <ul class="description-mobile__list">
    <li>Пункт-1</li>
    <li>Пункт-2</li>
    <li>Пункт-3</li>
  </ul>
</div>