<ul class="header__desktop-menu desktop-menu">
  <li><a class="menu-list" href="#">Компания</a></li>
  <li><a href="#">Портфолио</a></li>
  <li><a href="#">Проектирование</a></li>
  <li><div class="header__separator"></div></li>
  <li><a href="#">Ресторанам</a></li>
  <li><a href="#">Застройщикам</a></li>
  <li><a href="#">Гос.заказчикам</a></li>
  <li><a href="#">Таблет-питание</a></li>
  <li><div class="header__separator"></div></li>
  <li><a href="#">Сервис</a></li>
  <li><a href="#">Контакты</a></li>
  <li>
    <a href="#"><img src="./assets/images/email.png" />info@stolovay.ru</a>
  </li>
  <li>
    <a href="#"><img src="./assets/images/phone.png" />8 495 790-72-05</a>
  </li>
</ul>
