<form action="" class="header__desktop-search desktop-search">
  <label for="desktop-search-field">Поиск</label>
  <select>
    <option>Все</option>
    <option>Пункт 2</option>
    <option>Пункт 3</option>
  </select>
  <input
    type="search"
    name="search"
    id="desktop-search-field"
    class="desktop-search__text-input"
    placeholder=""
  />
  <input
    type="submit"
    value=""
    class="desktop-search__submit-input"
    style="
      background-image: url(./assets/images/search-icon.png);
      background-repeat: no-repeat;
      background-position: right 50% top 50%;
    "
  />
</form>
