<div class="equipment">
  <div class="equipment__container">
    <div class="equipment__content">
      <label for="equipment-menu"><span class="equipment__span-text">Оборудование</span><span class="equipment__span-arrow">></span></label>
      <input type="checkbox" id="equipment-menu"/>
      <ul>
        <li><a href="#">Тепловое</a></li>
        <li><a href="#">Холодильное</a></li>
        <li><a href="#">Электромеханическое</a></li>
        <li><a href="#">Посудомоечное</a></li>
        <li><a href="#">Хлебопекарное</a></li>
        <li><a href="#">Линии раздачи</a></li>
        <li><a href="#">Нейтральное</a></li>
        <li><a href="#">Для фаст фуда</a></li>
        <li><a href="#">Для залов</a></li>
        <li><a href="#">Вспомогательное</a></li>
        <li><a href="#">Для магазинов</a></li>
      </ul>
    </div>
  </div>
</div>