<div class="equipment">
  <div class="equipment__container">
    <div class="equipment__content">
      <label for="equipment-menu" class="equipment__label">
        <span class="equipment__span-text">Оборудование</span
        ><span class="equipment__arrow-right">></span
        ><span class="equipment__arrow-down hidden-completely">v</span></label
      >
      <input type="checkbox" id="equipment-menu" />
      <ul>
        <li>
          <a href="#"
            ><img src="./assets/images/equipment/heating-eq.png" alt="heating-equipment" width=67/>
            <span>Тепловое</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./assets/images/equipment/refrigeration-eq.png" alt="refrigeration-equipment" width=67/>
            <span>Холодильное</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./assets/images/equipment/electromechanical-eq.png" alt="electromechanical-equipment" width=67/>
            <span>Электромеханическое</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./assets/images/equipment/dishwashing-eq.png" alt="dishwashing-equipment" width=67/>
            <span>Посудомоечное</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./assets/images/equipment/bakery-eq.png" alt="bakery-equipment" width=67/>
            <span>Хлебопекарное</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./assets/images/equipment/distribution-lines-eq.png" alt="distribution-lines-equipment" width=67/>
            <span>Линии раздачи</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./assets/images/equipment/neutral-eq.png" alt="neutral-equipment" width=67/>
            <span>Нейтральное</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./assets/images/equipment/fast-food-eq.png" alt="fast-food-equipment" width=67/>
            <span>Для фаст фуда</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./assets/images/equipment/for-halls-eq.png" alt="for-halls-equipment" width=67/>
            <span>Для залов</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./assets/images/equipment/auxiliary-eq.png" alt="auxiliary-equipment" width=67/>
            <span>Вспомогательное</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./assets/images/equipment/shop-eq.png" alt="shop-equipment" width=67/>
            <span>Для магазинов</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
