<div class="header__general-menu">
  <label for="checkbox-menu" class="header__menu-checkbox-label">
    <img
      src="./assets/images/menu.png"
      alt="menu image"
      class="header__mobile-menu-toggle"
    />
  </label>
  <a class="header__logo-link" href="#">
    <img
    src="./assets/images/knife-fork.png"
    alt="menu image"
    class="header__knife-fork-img"
    />
    <h1>
      <span class="big-heading">Столовая.РУ</span
      ><span class="small-heading">Создание пищеблоков</span>
    </h1>
  </a>
  <a href="#" class="header__mobile-search-icon-button-container"
    ><img src="./assets/images/search.png" alt="search-icon" class="header__mobile-search-icon-button"
  /></a>

  {{> desktop-search }}

  <a href="#" class="header__telephone"
    ><img src="./assets/images/telephone.png" alt="search-icon"
  /></a>

  <a href="#" class="header__company-on-supplier-portal">
    <img src="./assets/images/company-on-supplier-portal.png" alt="">
    <span class="header__supplier-link-text">Мы на портале поставщиков</span>
  </a>

  <a href="#" class="header__shopping-cart shopping-cart">
    <div class="shopping-cart__cart-section">
      <span class="shopping-cart__goods-number">12</span>
      <img src="./assets/images/shopping-cart-desktop.png" alt="search-icon" class="shopping-cart__desktop-img"/>
      <img src="./assets/images/shopping-cart-mobile.png" alt="search-icon" class="shopping-cart__mobile-img"/>
    </div>
    <div class="shopping-cart__sum-section">
      <span class="shopping-cart__sum-number-describer">Сумма</span>
      <span class="shopping-cart__sum-number">150000<span class="shopping-cart__sum-monetary-unit">руб.</span></span>
    </div>
  </a>
</div>