<header class="header">
  <div class="header__menu">
    <div class="header__icons-section">
      <label for="checkbox-menu" class="header__menu-checkbox-label">
        <img src="../assets/images/menu.png" alt="menu image" class="header__mobile-menu-toggle">
      </label>
      <img src="../assets/images/knife-fork.png" alt="menu image" class="header__knife-fork-img">
    </div>
    <div class="header__icons-bottom-border"></div>
    <input type="checkbox" id="checkbox-menu" class="header__menu-checkbox">
    <ul>
      <li><a class="menu-list" href="#">Компания</a></li>
      <li><a href="#">Портфолио</a></li>
      <li><a href="#">Проектирование</a></li>
      <li><div class="header__separator"></div></li>
      <li><a href="#">Ресторанам</a></li>
      <li><a href="#">Застройщикам</a></li>
      <li><a href="#">Гос.заказчикам</a></li>
      <li><a href="#">Таблет-питание</a></li>
      <li><div class="header__separator"></div></li>
      <li><a href="#">Сервис</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#"><img src="../assets/images/email.png"/>info@stolovay.ru</a></li>
      <li><a href="#"><img src="../assets/images/phone.png"/>8 495 790-72-05</a></li>
    </ul>
  </div>
</header>
