<header class="header">
  <div class="header__menu">
    <div class="header__icons-section">
      <label for="checkbox-menu" class="header__menu-checkbox-label">
        <img
          src="./assets/images/menu.png"
          alt="menu image"
          class="header__mobile-menu-toggle"
        />
      </label>
      <a class="header__logo-link">
        <img
        src="./assets/images/knife-fork.png"
        alt="menu image"
        class="header__knife-fork-img"
        />
        <h1>
          <span class="big-heading">Столовая.РУ</span
          ><span class="small-heading">Создание пищеблоков</span>
        </h1>
      </a>
      
      <a href="#" class="header__search"
        ><img src="./assets/images/search.png" alt="search-icon"
      /></a>
      <a href="#" class="header__telephone"
        ><img src="./assets/images/telephone.png" alt="search-icon"
      /></a>
      <a href="#" class="header__shopping-cart"
        ><img src="./assets/images/shopping-cart.png" alt="search-icon"
      /></a>
    </div>
    <div class="header__icons-bottom-border"></div>
    <input type="checkbox" id="checkbox-menu" class="header__menu-checkbox" />
    <ul>
      <li><a class="menu-list" href="#">Компания</a></li>
      <li><a href="#">Портфолио</a></li>
      <li><a href="#">Проектирование</a></li>
      <li><div class="header__separator"></div></li>
      <li><a href="#">Ресторанам</a></li>
      <li><a href="#">Застройщикам</a></li>
      <li><a href="#">Гос.заказчикам</a></li>
      <li><a href="#">Таблет-питание</a></li>
      <li><div class="header__separator"></div></li>
      <li><a href="#">Сервис</a></li>
      <li><a href="#">Контакты</a></li>
      <li>
        <a href="#"><img src="./assets/images/email.png" />info@stolovay.ru</a>
      </li>
      <li>
        <a href="#"><img src="./assets/images/phone.png" />8 495 790-72-05</a>
      </li>
    </ul>
  </div>
</header>
