<div class="manufacturers-news">
  <div class="manufacturers-news__container container">
    <div class="container__header-row"><h2>Новости производителей</h2></div>
    <div class="container__content-row">
      <div class="manufacturers-news__main-news">
        <img src="./assets/images/manufacturers-news/main-news.png" alt="main-news">
        <div class="manufacturers-news__author-date-row author-date-row">
          <span class="author-date-row__author">Abat</span>
          <span class="author-date-row__date">22.06.17</span>
        </div>
          <h3>Новый разборный ротационный пекарский шкаф РПШ-18-8-6МР</h3>
          <p>Новый разборный ротационный пекарский шкаф РПШ-18-8-6МР:  в комплекте тележка-шпилька ТШГ-18 на 18 уровней 600х800 мм вместимость тележки-шпильки - 135 хлебных форм №7</p>
            <p>инжекционный тип парообразования</p>
            <p>разборная конструкция увеличенное стекло двери. </p>
            <p>Память на 110 программ (до 4-ех этапов в каждой программе)</p>
            <p>USB-порт. Таймер до 10 ч </p>
            <p>Регулировка влажности от 0 до 100%.  5 скоро</p>
          <button>Все новости</button>
      </div>
      <div class="manufacturers-news__other-news">
        <ul>
          <li>
            <img src="./assets/images/manufacturers-news/news-1.png" alt="news-1">
            <div class="text">
              <div class="manufacturers-news__main-news__author-date-row author-date-row">
                <span class="author-date-row__author">Abat</span>
                <span class="author-date-row__date">22.06.17</span>
              </div>
              <h3>Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat</h3>
              <p>С целью снижения нагрузки на электрическую сеть и для повышения энергоэффективности изделий с 1 июня 2017 года был изменен алгоритм работы туннельных посудомоечных машин МПТ торговой марки Abat всех моделей... </p>
            </div>
          </li>
          <li>
            <img src="./assets/images/manufacturers-news/news-2.png" alt="news-2">
            <div class="text">
              <div class="manufacturers-news__main-news__author-date-row author-date-row">
                <span class="author-date-row__author">Abat</span>
                <span class="author-date-row__date">22.06.17</span>
              </div>
              <h3>Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat</h3>
              <p>С целью снижения нагрузки на электрическую сеть и для повышения энергоэффективности изделий с 1 июня 2017 года был изменен алгоритм работы туннельных посудомоечных машин МПТ торговой марки Abat всех моделей... </p>
            </div>
          </li>
          <li>
            <img src="./assets/images/manufacturers-news/news-3.png" alt="news-3">
            <div class="text">
              <div class="manufacturers-news__main-news__author-date-row author-date-row">
                <span class="author-date-row__author">Abat</span>
                <span class="author-date-row__date">22.06.17</span>
              </div>
              <h3>Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat</h3>
              <p>С целью снижения нагрузки на электрическую сеть и для повышения энергоэффективности изделий с 1 июня 2017 года был изменен алгоритм работы туннельных посудомоечных машин МПТ торговой марки Abat всех моделей... </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
</div>