<!-- showing and hiding of mobile-search is controlled by mobile-search.js -->
<form action="" class="header__mobile-search mobile-search hidden-completely">
  <label for="mobile-search-field">Поиск</label>
  <select>
    <option>Все</option>
    <option>Пункт 2</option>
    <option>Пункт 3</option>
  </select>
  <input
    type="search"
    name="search"
    id="mobile-search-field"
    class="mobile-search__text-input"
    placeholder=""
  />
  <input
    type="submit"
    value=""
    class="mobile-search__submit-input"
    style="
      background-image: url(./assets/images/search-icon.png);
      background-repeat: no-repeat;
      background-position: right 50% top 50%;
    "
  />
</form>
