
      <div class="products__portfolio portfolio">

        <div class="portfolio__content content-1">

          <div class="portfolio__text-section">
            <h2>Портфолио</h2>
            <h3><span>НИИ скорой помощи</span> 
              <span>им. Н.В. Склифосовского</span></h3>
            <p>Оборудование для пищеблоков</p>
            <button>Подробнее</button>
          </div>
  
          <img src="./assets/images/sklif-eq.png" alt="sklifosovskiy-research-institute-equipment">

        </div>
        
        <div class="portfolio__content content-2 hidden-completely">

          <div class="portfolio__text-section">
            <h2>Портфолио</h2>
            <h3>НИИ скорой помощи 
              им. Н.В. Склифосовского 2</h3>
            <p>Оборудование для пищеблоков</p>
            <button>Подробнее</button>
          </div>
  
          <img src="./assets/images/sklif-eq.png" alt="sklifosovskiy-research-institute-equipment">

        </div>

        
        <div class="portfolio__content content-3 hidden-completely">

          <div class="portfolio__text-section">
            <h2>Портфолио</h2>
            <h3>НИИ скорой помощи 
              им. Н.В. Склифосовского 3</h3>
            <p>Оборудование для пищеблоков</p>
            <button>Подробнее</button>
          </div>
  
          <img src="./assets/images/sklif-eq.png" alt="sklifosovskiy-research-institute-equipment">

        </div>

        
        <div class="portfolio__content content-4 hidden-completely">

          <div class="portfolio__text-section">
            <h2>Портфолио</h2>
            <h3>НИИ скорой помощи 
              им. Н.В. Склифосовского 4</h3>
            <p>Оборудование для пищеблоков</p>
            <button>Подробнее</button>
          </div>
  
          <img src="./assets/images/sklif-eq.png" alt="sklifosovskiy-research-institute-equipment">

        </div>

        <div class="portfolio__controller">
          <label class="container">
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
        </div>

      </div>