<div class="products">
  <div class="products__container">
    <div class="products__row">
      <div class="products__targeted-offers">
        <h2>Целевые предложения</h2>
        <ul>
          <li>Кафе, барам, ресторанам</li>
          <li>Дестким садам и школам</li>
          <li>Таблет-питание</li>
          <li>Для столовых</li>
          <li>Для пищеблоков</li>
          <li>Государственным заказкам</li>
          <li>Для магазинов</li>
          <li>Для войсковых частей</li>
          <li>Все предложения</li>
        </ul>
      </div>
      <div class="products__portfolio portfolio">

        <div class="portfolio__content">

          <div class="portfolio__text-section">
            <h2>Портфолио</h2>
            <h3>НИИ скорой помощи 
              им. Н.В. Склифосовского</h3>
            <p>Оборудование для пищеблоков</p>
            <button>Подробнее</button>
          </div>
  
          <img src="./assets/images/sklif-eq.png" alt="sklifosovskiy-research-institute-equipment">

        </div>

        <!-- <div class="portfolio__controller">
          <input type="radio" name="portfolio-section">
          <input type="radio" name="portfolio-section">
          <input type="radio" name="portfolio-section">
          <input type="radio" name="portfolio-section">
        </div>

        
      <fieldset class="portfolio__controller">
        <legend class="power-heading">Питание:</legend>
        <input class="power-radiobutton-input visually-hidden" id="radio-1" type="radio" name="controller" value="radio-1" checked>
        <label for="radio-1" style="color: white;">Аккумуляторные</label>
        <input class="power-radiobutton-input visually-hidden" id="radio-2" type="radio" name="controller" value="radio-2">
        <label for="radio-2" style="color: white;">Сетевые</label>
      </fieldset> -->

      <div class="portfolio__controller">
        <label class="container">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
      </div>

      </div>
      <div class="products__sale">
        <img src="" alt="">
        <p>Самые низкие цены</p>
        <h2>Распродажа</h2>
        <a href="#">Каталог продаж</a>
      </div>
    </div>
    <div class="products__brands"></div>
  </div>
</div>