<div class="products">
  <div class="products__container">
    <div class="products__row">
      {{> targeted-offers}}
      {{> portfolio}}
      <div class="products__sale">
        <img src="./assets/images/giftbox.png" alt="gift box" width=70>
        <p>Самые низкие цены</p>
        <h2>Распродажа</h2>
        <a href="#">Каталог продаж ></a>
      </div>
    </div>
    <div class="products__brands">
      <ul>
        <li><a href="#"><img src="./assets/images/brands/abat.png"></a></li>
        <li><a href="#"><img src="./assets/images/brands/atesy.png"></a></li>
        <li><a href="#"><img src="./assets/images/brands/hicold.png"></a></li>
        <li><a href="#"><img src="./assets/images/brands/rational.png"></a></li>
        <li><a href="#"><img src="./assets/images/brands/simeco.png"></a></li>
        <li><a href="#">Все бренды</a></li>
      </ul>
    </div>
  </div>
</div>