<div class="products">
  <div class="products__container">
    <div class="products__row">
      <div class="products__targeted-offers">
        <h2>Целевые предложения</h2>
        <ul>
          <li>Кафе, барам, ресторанам</li>
          <li>Дестким садам и школам</li>
          <li>Таблет-питание</li>
          <li>Для столовых</li>
          <li>Для пищеблоков</li>
          <li>Государственным заказкам</li>
          <li>Для магазинов</li>
          <li>Для войсковых частей</li>
          <li>Все предложения</li>
        </ul>
      </div>
      {{> portfolio}}
      <div class="products__sale">
        <img src="" alt="">
        <p>Самые низкие цены</p>
        <h2>Распродажа</h2>
        <a href="#">Каталог продаж</a>
      </div>
    </div>
    <div class="products__brands"></div>
  </div>
</div>