<div class="recommend">
  <div class="recommend__container ">
    <div class="recommend__header-row">
      <h2>Рекомендуем</h2>
      <p>В этих разделах вы можете получить подробную информацию о пищевом оборудовании</p>
      <p>для столовых, ресторанов и кафе ведущих производителей.</p>
    </div>
    <div class="recommend__content-row">
      <div class="recommend__column-1">
        <div class="recommend__combi-steamers">
          <span>Rational</span>
          <h3>Пароконвектоматы</h3>
          <p>Педантичность и преданность своему делу делает продукцию Rational идеальной для тех, кто ищет надежность и долговечность.</p>
          <img src="./assets/images/recommend/combi-steamers.png" alt="combi-steamers" width=400>
        </div>
      </div>
      <div class="recommend__column-2">
        <div class="recommend__heating-equipment">
          <img src="./assets/images/recommend/heating-equipment.png" alt="heating-equipment" height=400>
          <div class="recommend__abat-text">
            <span>Abat</span>
            <h3>Тепловое оборудование</h3>
            <p>Более 55 лет успешно работает на рынке торгово-технологического оборудования, по праву занимая лидирующее положение в данном сегменте.</p>
          </div>
        </div>
        <div class="recommend__refrigerated-tables">
          <div class="recommend__hicold-text">
            <span>hicold</span>
            <h3>Холодильные столы</h3>
            <p>Многофункциональность оборудования позволяет оптимизировать пространство на кухне, сделать работу персонала максимально удобной и эффективной.</p>
            <a href="#">Смотреть ></a>
          </div>
          <img src="./assets/images/recommend/refrigerated-tables.png" alt="refrigerated-tables" height=300>
        </div>
      </div>
    </div>
  </div>
</div>