<div class="products__targeted-offers targeted-offers">
  <h2>Целевые предложения</h2>
  <ul>
    <li>
      <label for="category-menu-1" class="targeted-offers__menu-label menu-label menu-label--1">
        <span class="menu-label__span-text">Кафе, барам, ресторанам</span
        ><span class="menu-label__arrow-right">></span
        ><span class="menu-label__arrow-down hidden-completely">v</span>
      </label>
      <input type="checkbox" id="category-menu-1" />
      <ul>
        <li>Пункт 1</li>
        <li>Пункт 2 awdawd</li>
        <li>Пункт 3</li>
      </ul>
    </li>
    <li>
      <label for="category-menu-2" class="targeted-offers__menu-label menu-label menu-label--1">
        <span class="menu-label__span-text">Детским садам и школам</span
        ><span class="menu-label__arrow-right">></span
        ><span class="menu-label__arrow-down hidden-completely">v</span>
      </label>
      <input type="checkbox" id="category-menu-2" />
      <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт 3</li>
      </ul>
    </li>
    <li>
      <label for="category-menu-3" class="targeted-offers__menu-label menu-label menu-label--1">
        <span class="menu-label__span-text">Таблет-питание</span
        ><span class="menu-label__arrow-right">></span
        ><span class="menu-label__arrow-down hidden-completely">v</span>
      </label>
      <input type="checkbox" id="category-menu-3" />
      <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт 3</li>
      </ul>
    </li>
    <li>
      <label for="category-menu-4" class="targeted-offers__menu-label menu-label menu-label--1">
        <span class="menu-label__span-text">Для столовых</span
        ><span class="menu-label__arrow-right">></span
        ><span class="menu-label__arrow-down hidden-completely">v</span>
      </label>
      <input type="checkbox" id="category-menu-4" />
      <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт 3</li>
      </ul>
    </li>
    <li>
      <label for="category-menu-5" class="targeted-offers__menu-label menu-label menu-label--1">
        <span class="menu-label__span-text">Для пищеблоков</span
        ><span class="menu-label__arrow-right">></span
        ><span class="menu-label__arrow-down hidden-completely">v</span>
      </label>
      <input type="checkbox" id="category-menu-5" />
      <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт 3</li>
      </ul>
    </li>
    <li>
      <label for="category-menu-6" class="targeted-offers__menu-label menu-label menu-label--1">
        <span class="menu-label__span-text">Государственным заказчикам</span
        ><span class="menu-label__arrow-right">></span
        ><span class="menu-label__arrow-down hidden-completely">v</span>
      </label>
      <input type="checkbox" id="category-menu-6" />
      <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт 3</li>
      </ul>
    </li>
    <li>
      <label for="category-menu-7" class="targeted-offers__menu-label menu-label menu-label--1">
        <span class="menu-label__span-text">Для магазинов</span
        ><span class="menu-label__arrow-right">></span
        ><span class="menu-label__arrow-down hidden-completely">v</span>
      </label>
      <input type="checkbox" id="category-menu-7" />
      <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт 3</li>
      </ul>
    </li>
    <li>
      <label for="category-menu-8" class="targeted-offers__menu-label menu-label menu-label--1">
        <span class="menu-label__span-text">Для войсковых частей</span
        ><span class="menu-label__arrow-right">></span
        ><span class="menu-label__arrow-down hidden-completely">v</span>
      </label>
      <input type="checkbox" id="category-menu-8" />
      <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт 3</li>
      </ul>
    </li>
    <li>
      <label for="category-menu-9" class="targeted-offers__menu-label menu-label menu-label--1">
        <span class="menu-label__span-text">Все предложения</span
        ><span class="menu-label__arrow-right">></span
        ><span class="menu-label__arrow-down hidden-completely">v</span>
      </label>
      <input type="checkbox" id="category-menu-9" />
      <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
        <li>Пункт 3</li>
      </ul>
    </li>
  </ul>
</div>